.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 480px;
  height: 459px;
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #004980;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.levels {
  display: flex;
  flex-direction: row;
  gap: 26px;
  margin-top: 48px;
  margin-bottom: 26px;
}

.level {
  display: flex;
  width: 97px;
  height: 98px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  border-radius: 12px;
  background: #fff;
}

.levelSelect {
  display: none;

  &[type="radio"]:checked + label {
    color: #7ac100;
  }
}

.levelLink {
  color: #0080c1;
  text-align: center;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  text-decoration: none;
}

.levelLink:visited {
  color: #0080c1;
}

.levelLink:hover {
  cursor: pointer;
}

.gameControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controlsDescription {
  font-family: StratosSkyeng;
  font-size: 20px;
  color: #004980;
  line-height: 32px;
  margin-bottom: 38px;
  cursor: pointer;
}

.controlsCheckbox {
  appearance: none;
}

.controlsCheckbox:checked + .controlsCustomCheckbox {
  background-color: #7ac100;

  &::before {
    transform: translate(-50%, -50%) scale(1);
  }
}

.controlsCustomCheckbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #0080c1;
  border-radius: 5px;
  vertical-align: sub;
  margin-right: 5px;

  &::before {
    content: "";
    /* Галочка */
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("./images/check.svg") no-repeat;
    background-size: contain;
    /* Расположение */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
  }
}

.controlsLeaderboardLink {
  font-size: 18px;
  font-family: StratosSkyeng;
  color: #004980;
  line-height: 32px;
  margin-top: 18px;
}
