.container {
  max-width: 944px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
}

.title {
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
}

.leaderboardTable {
  width: 944px;
  table-layout: fixed;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.tableHeader {
  tr {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999999;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0 20px;
  }
}

.tableLeaders {
  display: flex;
  flex-direction: column;
  gap: 15px;

  tr {
    height: 64px;
    display: grid;
    grid-template-columns: 242px 300px 38px 250px 74px;
    align-items: center;
    color: #000000;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0 20px;
    position: relative;

    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 213px;
    }

    td:nth-child(3) {
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
    td:nth-child(3):hover::before {
      content: "Игра пройдена \A в сложном режиме";
      top: -118%;
      left: 60%;
      width: 212px;
      height: 78px;
      color: #004980;
      background-color: #c2f5ff;
      border-radius: 12px;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      align-content: center;
      white-space: pre;
      position: absolute;
    }
    td:nth-child(3):hover::after {
      content: "";
      top: -11%;
      left: 62%;
      border-style: solid;
      border-width: 20px 20px 0 0;
      border-color: #c2f5ff transparent transparent transparent;
      position: absolute;
    }

    td:nth-child(4) {
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
    td:nth-child(4):hover::before {
      content: "Игра пройдена \A без супер-сил";
      top: -118%;
      left: 64%;
      width: 212px;
      height: 78px;
      color: #004980;
      background-color: #c2f5ff;
      border-radius: 12px;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      align-content: center;
      white-space: pre;
      position: absolute;
    }
    td:nth-child(4):hover::after {
      content: "";
      top: -11%;
      left: 66%;
      border-style: solid;
      border-width: 20px 20px 0 0;
      border-color: #c2f5ff transparent transparent transparent;
      position: absolute;
    }
  }
}

.loadMessage {
  display: flex;
  justify-content: center;
  font-family: StratosSkyeng;
  color: #ffffff;
}

.errorMessage {
  display: flex;
  justify-content: center;
  font-family: StratosSkyeng;
  color: #000000;
}
